.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 67px 100px;
}

.main__content {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 48px;
}

.main__heading {
  font-weight: 400;
  font-size: 56px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #434343;
}

.main__content__p {
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #434343;
  text-align: justify;
}

.highlight__bold {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 700;
}

.search {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
}

.search__input {
  width: 390px;
  height: 54px;
  padding: 17px 15px;
  color: #B8B8B8;
  font-weight: 400;
  font-size: 14px;
  background: rgba(247, 247, 247, 0.1);
  border: 1px solid #A3A3A3;
  border-radius: 8px 0px 0px 8px;
}

.search__btn {
  height: 54px;
  border: none;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
  border-radius: 0px 8px 8px 0px;
  padding: 17px 80px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.img__section {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px;
}

.img__section img:first-child {
  margin-top: 99px;
}

.img__section img:last-child {
  margin-top: -99px;
}

/* .header_img {
  display: block;
} */