.brands {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 264px;
  padding: 10px 100px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
}

/* TRAVEL CARDS SECTION */
.travel__cards {
  margin-bottom: 40px;
}

.cards__title {
  padding: 60px 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px 100px;
  gap: 24px;
}

/* METABNB ARTICLE */
.metabnb__nfts {
  height: 774px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: center;
  grid-row: auto;
  padding: 186px 100px;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border: 1px solid #000000;
  color: #ffffff;
}

.metabnb__main {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.matabnb__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.metabnb__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  max-width: 85%;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: -100px;
}

.learn__more__btn {
  width: 156px;
  height: 48px;
  margin-top: -100px;
  border: none;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #a02279;
}

.metabnb__img {
  width: 704px;
  height: 574.85px;
}
