.brands {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 264px;
    padding: 10px 100px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
}