.navbar {
  display: grid;
  grid-template-columns: 1fr 1.4fr .8fr;
  padding: 43px 100px;
  justify-content: center;
  align-items: center;
}

.nav__items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 24px;
  text-align: center;
}

.nav__item {
  font-weight: 400;
  font-size: 20px;
}

.btn__connect {
  color: #fff;
  padding: 15px 25px;
  justify-self: end;
  border: none;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;
}


/* MOBILE MENU HANGER */
.hanger_nav {
  display: grid;
  grid-template-columns: 1fr .5fr;
  justify-content: space-between;
}

.hanger {
  display: none;
  grid-template-columns: 1fr;
  row-gap: 10px;
  justify-items: end;
  cursor: pointer;
}

.buger {
  height: 8px;
  width: 50px;
  display: block;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
}




@media screen and (max-width: 1025px) {
  .navbar {
    padding: 43px 50px;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }
}


@media screen and (max-width: 769px) {
 .navbar { 
  grid-template-columns: 1fr;
  padding: 20px 40px 10px 40px;
  align-items: center; 
  row-gap: 20px;
}

.nav__items {
  grid-template-columns: auto;
  row-gap: 10px;
}
 .btn__connect {
  display: block;
  margin: auto auto;
 }
 .hanger {
  display: grid;
 }
 
}

@media screen and (max-width: 426px) {
 .navbar  {
  padding: 20px 10px 10px 10px;
}
}