.footer {
  display: grid;
  grid-template-columns: auto;
  padding: 58px 100px;
  background: #1d1d1e;
}

.footer__main {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  color: #ffffff;
  justify-content: center;
}

.footer__section {
  display: grid;
  grid-template-columns: auto;
  row-gap: 15px;
}

.footer__links li {
  margin: 6px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
}

.social__icons {
  display: grid;
  grid-template-columns: 20px 20px 20px;
  column-gap: 32px;
  margin-top: 96px;
}

.social__icons i {
  font-size: 18px;
  color: #ffffff;
}

.copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}


@media screen and (max-width: 1025px) {
  .footer {
    padding: 50px;
  }
}

@media screen and (max-width: 769px) {
  .footer {
    padding: 30px;
  }
  .footer__main {
    grid-template-columns: 1.5fr 1fr ;
    gap: 20px;
  }
}

@media screen and (max-width: 469px) {
  .footer__main {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  .footer__main img {
    display: block;
    margin: auto auto;
  }

  .social__icons {
    grid-template-columns: auto auto auto;
    margin: 30px;
    justify-items: center;
  }
  .copyright {
    text-align: center;
  }
}